dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.x
*.y
*.log
*.pdf
src/*.tex
.*.swp
*.bak
.stack-work/
MakeEthver
src/AbsEthver.hs
src/DocEthver.txt
src/ErrM.hs
src/LexEthver.hs
src/Makefile
src/ParEthver.hs
src/PrintEthver.hs
src/SkelEthver.hs
src/TestEthver.hs
src/TestEthver
examples/*.prism
examples/*.sol
examples/*.scen
examples/old
old
paper/*.bbl
paper/*.blg
paper/*.toc
paper/*.synctex.gz
paper/*.out
.DS_Store
